<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/header.css')}}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script>scr="{{url_for('static', filename= 'js/bootstrap.bundle.min.js')}}"</script>
    <script>scr="https://code.jquery.com/jquery-3.6.0.min.js"</script>
  </head>
  <body>
    <main>
      <div class="wrapper">
        <a>Perfil</a>
        <a>Usuários</a>
        <a>Sair</a>
      </div>
    </main>
  </body>
</html>